<div class="container">
  <div class="row search-result">
    <% @athletes.each do |athlete| %>
    <div class="col-md-10 col-xs-offset-1 well member">
      <%= athlete.full_name %>
      <% if current_user %>
      <%= link_to "Follow", friendships_path(friend_id: athlete.id), method: :post, 
        class: "btn btn-primary pull-right" unless current_user.follows_or_same?(athlete) %>
      <% end %>
    </div>
    <% end %>
  </div>
  <%= will_paginate @athletes, renderer: BootstrapPagination::Rails %>
</div>