<div class='row'>
<div class='col-md-12'>
<%= form_for([current_user, @exercise], :html => {class: "form-horizontal", role: "form"}) do |f| %>
<% if @exercise.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@exercise.errors.count, "error") %>
prohibited this exercise from being saved: </h2>
<ul>
<% @exercise.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>
<div class="form-group">
<div class="control-label col-md-2">
<%= f.label :duration_in_min, "Duration (min)" %>
</div>
<div class="col-md-10">
<%= f.number_field :duration_in_min, class: "form-control" %>
</div>
</div>
<div class="form-group">
<div class="control-label col-md-2">
<%= f.label :workout, "Workout Details" %><br>
</div>
<div class="col-md-10">
<%= f.text_area :workout, class: "form-control", rows: "10" %>
</div>
</div>
<div class="form-group">
<div class="control-label col-md-2">
<%= f.label :workout_date, "Activity date" %>
</div>
<div class="col-md-10">
  <%= f.text_field :workout_date, class: "form-control", id: "exercise_workout_date" %>
</div>
</div>
<div class="form-group">
<div class="col-md-offset-2 col-md-10">
<%= f.submit class: "btn btn-primary btn-lg" %>
</div>
</div>
<% end %>
</div>
</div>