<div class="col-md-8 col-xs-12">
  <% unless @exercises.empty? %>
  <h1>Listing Exercises</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Duration (min)</th>
        <th>Workout details</th>
        <th>Activity date</th>
      </tr>
    </thead>
    <tbody>
      <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.duration_in_min %></td>
        <td><%= truncate(exercise.workout, length: 100) %></td>
        <td><%= exercise.workout_date %></td>
        <td><%= link_to "Show", [current_user, exercise] %></td>
        <td><%= link_to "Edit", [:edit, current_user, exercise] %></td>
        <td><%= link_to "Destroy", [current_user, exercise], method: :delete, date: {confirm: "Are you sure?"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <% else %>
    <div class="alert alert-danger message-font text-center" role="alert">
      No Workouts yet
  </div>
  <br>
  <% end %>
  <%= link_to "New Workout", new_user_exercise_path(current_user), class: "btn btn-primary link" %>
  <%= content_tag :div, "", id: "chart", data: {workouts: @exercises} %>
</div>

<div class="col-md-4 col-xs-12">
  <h1 class="text-center">My Friends</h1>
  <% @friends.each do |friend| %>
    <div class="col-md-offset-3 col-md-6 friend_name">
      <%= link_to friend.full_name, friendship_path(current_user.current_friendship(friend)) %>
    </div>
    <div class="col-md-3">
      <div class="btn-unfollow">
      <%= link_to "Unfollow", friendship_path(current_user.current_friendship(friend)), method: :delete, 
        data: {confirm: "Are you sure?"}, class: "btn btn-primary link" %>
      </div>
    </div>
  <% end %>
</div>
